/* 基础变量 */
$f12: 0.75rem;
$f16: 1rem;
$f18: 1.125rem;
$f20: 1.25rem;
$f22: 1.375rem;
$f24: 1.5rem;
$f26: 1.625rem;
$f28: 1.75rem;
$f32: 2rem;
$f40: 2.5rem;
$f60: 3.75rem;
$base-height: 3rem;

$base-gray: #303030;
$base-white: #f7f7f7;
$white: #fff;
$border-color: #bcbcbc;
$base-blue: #1274B7;

